/* src/App.css */
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.App h1 {
  color: #333;
}

.App input[type='file'] {
  margin: 10px 0;
}

.App h2 {
  color: #555;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.App h3 {
  color: #007bff;
}

.App p {
  margin: 5px 0;
}

.App strong {
  color: #555;
}